/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 768px) {
  
  body {
    overflow: hidden;
  }

  .hide-phone {
    display: none!important;
  }

  #bg {
  	height: 100%;
  	width: auto;
  	left: -400px;
  }

  #main-content {
    padding: 20px 20px!important;

  	h1 {
  		font-size: 3em!important;
  		margin-top: 30px!important;
  	}

  	#play-store-btn img {
  		height: auto;
  		width: 200px;
  	}
  }

  #credits {
    margin-top: 20px!important;
  	line-height: 20px;
  }

  #facebook-page {
    margin-top: 15px!important;
  	font-size: 1.3em!important;
  	line-height: 40px;
  }

}
