/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 768px) {
  
  body {
    overflow-x: hidden;
  }

  #bg {
    width: auto!important;
  }

  #main-content {
    text-align: center!important;
    
    .content {
      margin-left: 0px!important;
    }

    #launcher {
      margin-top: 15px;
      max-width: 100%;
    }

  	#play-store-btn img {
  		height: auto;
  		width: 250px;
  	}

    #facebook-page {
      margin-top: 15px!important;
      font-size: 1.3em!important;
      line-height: 30px;
    }
  }
}
